@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:wght@400;700&display=swap');

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body {
      background-color: rgb(3, 3, 78);
      background-image: url('../imgs/bg-tiled-png/vintage-wallpaper.png');
      
      background-blend-mode: hue;
      font-family: 'Libre Caslon Text', serif;
      height: 100vh;
}

.gamearea {

      height: 85vh;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
}

.cardsarea {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      color: ivory;
}

.cards {
      height: 80%;
      font-size: 3rem;
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      align-items: center;
}

.sum,
.opponent-sum {
      font-size: 1.2rem;
      font-weight: 700;
      height: 20%;
      letter-spacing: 3px;
}
.opponent-sum {
      height: unset;
      margin-bottom: 2rem;
}


.dealer-message {
      font-size: 1.3rem;
      margin-bottom: 2rem;
}

.dealerarea {
      background:rgb(2, 2, 61);
      background-image: url('../imgs/bg-tiled-png/vintage-blue-bird-clipart-vintage-bluebird-png-1932_2318.png');
      background-size:contain;
      background-blend-mode:saturation;
      margin: 0 auto;
      width: 100%;
      height: 12vh;
      display: flex;
      align-items: center;
      justify-content: space-around;
      
      
}

.btn{
      background: ivory;
      
      font-family: inherit;
      padding: 1rem 3rem;
      margin-left: 5px;
      
      border: none;
      transition: all 350ms ease-in-out;
}

.btn:hover {
      opacity: .7;
      cursor: pointer;
}

#credit::after {
      content: '£ credit';
      font-size: .8rem;
      margin-left: .5rem;
}

#pot::after {
      content: '£ pot';
      font-size: .8rem;
      margin-left: .5rem;
}

.playerarea {
      color: ivory;
      background: black;
      margin: 0 auto;
      height: 15vh;
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 2.5rem;
}
