* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body {
      
      height: 100vh;
}

.gamearea {

      background: rgb(3, 3, 78);
      height: 85vh;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
}

.cardsarea {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      color: ivory;
}

.cards {
      height: 80%;
}

.sum {
      height: 20%;
}

.dealerarea {
      margin: 0 auto;
      width: 70%;
     border: 1px solid white;
      height: 10vh;
      display: flex;
      align-items: center;
      justify-content: space-around;
      
      
}

.btn{
      padding: 1rem 3rem;
      margin-left: 5px;
      background: ivory;
      border: none;
      transition: all 350ms ease-in-out;
}

.btn:hover {
      opacity: .7;
      cursor: pointer;
}

.playerarea {
      color: ivory;
      background: black;
      height: 15vh;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      font-size: 2.5rem;
}
